.gestionUser {
    width: 100%;
    max-width: 100vw
}

.content {}

.edit {
    background-color: #D3DC32 !important;
    color: #FFFFFF !important;
}

.delete {
    background-color: red !important;
    color: #FFFFFF !important;
}