.footer {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #D3DC32;
}

.content {
    width: 1200px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.boxContent {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    margin-bottom: 16px;
}

.link {
    cursor: pointer;
    color: #fff;
    text-align: left;
    width: 100%;

    &:hover {
        opacity: 0.7;
    }
}